* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set default font and smooth scrolling */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #333;
  padding: 10px;
}

/* main */
main {

  width: 100%;
  height: 200rem;
  /* background-color: #007bff; */
}

/* footer */

footer {

  width: 100%;
  height: 40rem;
  /* background-color: #007bff; */
  background: linear-gradient(to bottom, #e6f3fe, #87b6dc, #70adef);
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Links */
a {
  text-decoration: none;
  color: #007bff;
  transition: 0.3s;
}


/* nav-content */

.nc {

  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  /* background-color: #007bff; */
}

.nav-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: self-start;
  width: 400px;
  margin-right: -220px;

}


.nav-btn button:hover {
  box-shadow: 0px 0px 8px #70adef;

}


.btn-1 button {
  width: 70px;
  height: 30px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;

}

.btn-2 button {
  width: 70px;
  height: 30px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;

}

.btn-3 button {
  width: 90px;
  height: 30px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;

}

.btn-4 button {
  width: 70px;
  height: 30px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;

}

.nav-home button {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 190px;
  height: 40px;
  margin-left: 160px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;


}


.nav-home button:hover {
  box-shadow: 0px 0px 8px #70adef;

}

.nav-logo {

  margin-left: -240px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: baseline;


}

.block-1 {

  width: 100%;
  height: 500px;
  /* background-color: #007bff; */
  display: flex;
}


.ib {

  background-image: url("assets/Mastering.jpg");
  background-size: cover;
  width: 550px;
  height: 500px;
  border-radius: 40px 40px 40px 40px;
  margin-left: 40px;
  margin-top: 60px;

}

/************************ main ******************************/


.con-b {
  margin-top: 80px;
  margin-right: 300px;

}

.block-1 {

  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 300px;

}

.cb1 {

  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.cb1 h3 {

  margin-left: -30px;
}

.sub-cb4 {

  display: flex;
  gap: 20px;
  padding-bottom: 5px;
}

.main-btn {
  display: flex;
  gap: 30px;
}


.main-btn button:hover {
  box-shadow: 0px 0px 8px #70adef;

}

.btn-14 button {

  width: 90px;
  height: 30px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;

}


.btn-13 button {

  width: 90px;
  height: 30px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;


}


.btn-11 button {

  width: 90px;
  height: 30px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;


}

.btn-12 button {

  width: 90px;
  height: 30px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;
  background-color: rgb(232, 232, 196);

}


.btn-21 button {

  width: 90px;
  height: 30px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;

}

.btn-22 button {

  width: 90px;
  height: 30px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;

}

.btn-23 button {

  width: 90px;
  height: 30px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;

}

.btn-24 button {

  width: 90px;
  height: 30px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;
  background-color: rgb(232, 232, 196);

}



.btn-31 button {

  width: 130px;
  height: 40px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;
  background-color: rgb(41, 164, 41);
  color: white;

}



.btn-32 button {

  width: 130px;
  height: 40px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;
  /* background-color: rgb(232, 232, 196); */

}



/**********************/

.block-2 {

  margin-top: 300px;
  width: 100%;
  height: 700px;
  /* background-color: #007bff; */
  /* display: flex;
    justify-content: center; */
}

.block-2 h1 {
  display: flex;
  justify-content: center;
  padding: 50px;

}

.ib2 {
  background-image: url(assets/specifications.jpg);
  background-size: cover;
  width: 500px;
  height: 450px;
  border-radius: 40px 40px 40px 40px;
  margin-left: 840px;
  margin-top: -320px;


}

.con-2 {

  display: grid;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px;
}

.sb1 {

  width: 800px;
  height: 90px;
  gap: 30px;
  /* margin-top: -20px; */
}

.sb1 h1 {

  margin-left: -410px;
  height: 90px;
}

.sb2 {
  width: 800px;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  /* background-color: #007bff; */
  padding: 50px;
  margin-top: 80px;
}

.sb21 {
  display: grid;
  width: 550px;
  margin-left: -50px;
}


.sb22 {
  display: grid;
  width: 550px;
}

/****************************** Course- Card **************************** */
/* 
.block-3 {
  width: 100%;
  height: 800px;
  display: flexbox;
  justify-content: space-evenly;

} */

.block-3 h1 {

  display: flex;
  justify-content: center;


}


.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding-top: 50px;
  width: 100%;

}


.c1,
.c2,
.c3,
.c4 {
  width: 100%;
  height: 700px;
  /* background-color: aqua; */

}

.ci1 {
  width: 90%;
  height: 350px;
  background-image: url(assets/javascript.jpg);
  background-size: cover;
  border-radius: 30px 30px 30px 30px;
  /* margin-top: 100px; */
  margin-left: 20px;


}



.ci2 {
  width: 90%;
  height: 350px;
  background-image: url(assets/tailwind.jpg);
  background-size: cover;
  border-radius: 30px 30px 30px 30px;
  margin-left: 20px;


}



.ci3 {
  width: 90%;
  height: 350px;
  background-image: url(assets/nextjs.jpg);
  background-size: cover;
  border-radius: 30px 30px 30px 30px;
  margin-left: 20px;


}



.ci4 {
  width: 90%;
  height: 350px;
  background-image: url(assets/reactjs.jpg);
  background-size: cover;
  border-radius: 30px 30px 30px 30px;
  margin-left: 20px;
  background-position: auto;

}

/* 
  .si1 
  {
    display: flex;
    /* background-color: #007bff; */
/* justify-content: space-between; */
/* } */

.ic {
  display: flex;
  gap: 60px;
  margin-left: 15px;
  padding-top: 30px;

}

.btn-b3 button {
  width: 40%;
  height: 40px;
  border: solid rgb(217, 210, 210);
  border-radius: 30px 30px 30px 30px;
  font-weight: 700;
  margin-left: 15px;


}

/* ********************** Block-4  ********************* */

.block-4 {
  /* background-color: #007bff; */
  width: 100%;
  height: 1500px;
  margin-top: -20px;
}




.img4 {
  background-image: url(assets/career.jpg);
  background-size: cover;
  width: 520px;
  height: 490px;
  border-radius: 40px 40px 40px 40px;
  margin-left: 40px;

}

.con4 {
  display: flex;
  justify-content: space-between;
}

.sub4 {

  width: 790px;
  height: 400px;
  margin-top: 60px;
}

.endmain {
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #A7d4fd 40px), repeating-linear-gradient(#9ccffa55, #9ccffa);
  /* width: 100%; */
  height: 440px;
  margin-top: 7rem;
  border-radius: 60px 60px 60px 60px;
  background-color: #A7d4fd;
  display: flex;
  align-items: center;
  padding: 2rem 0rem 2rem 6rem;
  gap: 5rem;
  margin: 80px 40px 0 40px;
}

.eimg {
  background-image: url(assets/about.png);
  width: 320px;
  background-color: #007bff;
  height: 320px;
  background-size: contain;
  border-radius: 40px 40px 40px 40px;
  background-position: right;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  transform: rotate(-380deg);
  overflow: hidden;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);


}

.eimg:hover {
  transform: scale(1.1) rotate(4deg);
}

.econ {
  width: 700px;
  height: 200px;
  margin-left: 20px;

}

.btn-ec button {

  width: 150px;
  height: 40px;
  background-color: white;
  border-radius: 30px 30px 30px 30px;
  margin-top: 30px;
  border: solid white;

}

.btn-ec button:hover {
  box-shadow: 0px 0px 10px green;

}

/************************ footer ***********************************/

.footer {
  width: 100%;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.fe1 {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -20px;
  gap: 200px;


}

.f-con h1 {

  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

.fe12,
.fe13,
.fe14 {


  display: grid;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  margin-top: 110px;

}



.f-search {

  width: 30rem;
  height: 50px;
  border-radius: 30px 30px 30px 30px;
  border: 2px solid transparent;
  /* margin-left: 30px; */
  padding: 10px;
  margin-left: 100px;

}

.f-sb {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50rem;
  height: 50px;
  border-radius: 30px 30px 30px 30px;
  margin: 20px;
}

.f-sb:hover {

  border: 8px solid transparent;
  /* box-shadow: 0px 0px 3px green; */

}



.btn-sub {
  margin-left: -25rem;
}

.btn-sub button {

  width: 100px;
  height: 35px;
  border-radius: 30px 30px 30px 30px;
  background-color: #9ccffa;
  border: solid white;
  overflow: hidden;

}

.fe2 {

  padding-top: 20px;
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}